<div class="sermon-navigation">
    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="{active: isActive('/')}"><a href="#/">ALL</a></li>
        <li ng-repeat="congregation in congregations" role="presentation"
            ng-class="{active: isActive('/congregations/' + name)}">
            <a href="#/congregations/{{congregation.name}}">{{congregation.name | uppercase}}</a>
        </li>
    </ul>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
        <tr>
            <th>
                <ul class="list-inline">
                    <li>Page Size:</li>
                    <li>
                        <select name="sizeSelect" id="sizeSelect" class="form-control"
                                ng-change="resetPage()"
                                ng-model="size"
                                ng-options="s as s for s in sizes">
                        </select>
                    </li>
                </ul>
            </th>
            <th colspan="3">
                <div class="table-header text-center">
                    {{name | uppercase}} Archived Sermons
                </div>
            </th>
            <th class="search-column">
                <div class="input-group search-input-group">
                    <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                    <input type="text" class="form-control search-input" placeholder="Search" ng-model="query"
                           ng-change="resetPage()">
                </div>
            </th>
        </tr>

        <tr>
            <th class="sortable sort-desc" ng-click="sort('date')">
                <div class="header-label">
                    Date
                </div>
                <div class="sort-icon">
                    <span ng-show="predicate == 'date' && !reverse" class="glyphicon glyphicon-triangle-top"></span>
                    <span ng-show="predicate == 'date' && reverse" class="glyphicon glyphicon-triangle-bottom"></span>
                </div>
            </th>
            <th class="sortable" ng-click="sort('minister')">
                <div class="header-label">
                    Minister
                </div>
                <div class="sort-icon">
                    <span ng-show="predicate == 'minister' && !reverse"
                          class="glyphicon glyphicon-triangle-top"></span>
                    <span ng-show="predicate == 'minister' && reverse"
                          class="glyphicon glyphicon-triangle-bottom"></span>
                </div>
            </th>
            <th class="sortable" ng-click="sort('bibleText')">
                <div class="header-label">
                    Bible Text
                </div>
                <div class="sort-icon">
                    <span ng-show="predicate == 'bibleText' && !reverse"
                          class="glyphicon glyphicon-triangle-top"></span>
                    <span ng-show="predicate == 'bibleText' && reverse"
                          class="glyphicon glyphicon-triangle-bottom"></span>
                </div>
            </th>
            <th class="sortable" ng-click="sort('comments')">
                <div class="header-label">
                    Event
                </div>
                <div class="sort-icon">
                    <span ng-show="predicate == 'comments' && !reverse"
                          class="glyphicon glyphicon-triangle-top"></span>
                    <span ng-show="predicate == 'comments' && reverse"
                          class="glyphicon glyphicon-triangle-bottom"></span>
                </div>
            </th>
            <th class="sortable" ng-click="sort('fileUrl')">
                <div class="header-label">
                    Link
                </div>
                <div class="sort-icon">
                    <span ng-show="predicate == 'fileUrl' && !reverse"
                          class="glyphicon glyphicon-triangle-top"></span>
                    <span ng-show="predicate == 'fileUrl' && reverse"
                          class="glyphicon glyphicon-triangle-bottom"></span>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="sermon in sermons | orderBy:predicate:reverse | filter:searchTerm"
            class="pure-table-{{ $odd ? 'odd' : 'even'}}">
            <td>{{sermon.date | date:'MM/dd/yyyy':'UTC'}}</td>
            <td>{{sermon.minister}}</td>
            <td>{{sermon.bibleText}}</td>
            <td>{{sermon.comments}}</td>
            <td><a href="{{sermon.fileUrl}}">Listen</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="row table-footer">
    <div class="col-md-8 text-left">
        Showing {{currentPage * size}} to {{currentPage * size + size < pageData.totalElements ? currentPage * size +
        size : pageData.totalElements }} of {{pageData.totalElements}} sermons
    </div>
    <div class="col-md-4 text-right">
        <ul class="list-inline">
            <li>
                <button ng-click="page('prev')" type="button" class="btn btn-default"><span
                        aria-hidden="true">&larr;</span> Previous
                </button>
            </li>
            <li>{{currentPage + 1}} of {{pageData.totalPages}}</li>
            <li>
                <button ng-click="page('next')" type="button" class="btn btn-default">Next <span
                        aria-hidden="true">&rarr;</span></button>
            </li>
        </ul>
    </div>
</div>