<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
        <tr class="active">
            <th colspan="5" class="text-center"><h4>{{fullName}} Archived Sermons</h4></th>
        </tr>
        <tr>
            <th>Date</th>
            <th>Minister</th>
            <th>Bible Text</th>
            <th>Comments</th>
            <th>Link</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="sermon in sermons | orderBy: orderByDate:true" class="pure-table-{{ $odd ? 'odd' : 'even'}}">
            <td>{{sermon.date | date:'MM/dd/yyyy HH:mm'}}</td>
            <td>{{sermon.minister}}</td>
            <td>{{sermon.bibleText}}</td>
            <td>{{sermon.comments}}</td>
            <td><a href="{{sermon.fileUrl}}">Listen</a></td>
        </tr>
        </tbody>
    </table>
</div>